body{background-color:black;}
.background1{font-size:100px;color:white;position:absolute;left:650px;}
.background2{font-size:60px;color:white;position:absolute;left:820px;top:200px;}
button{font-size:40px;position: absolute;left:830px;top:500px;color:white;border-radius:50px;background:blue;
    transition:all 1s ease;}
button:hover{background-color:white;color:blue;}
button:active{transform:scale(5);}
/* b1製作簡易動畫 */
.b1{animation:run 3s infinite alternate;
    position: relative;}
@keyframes run{
    0%{background-color:red;
    left:0px;}
    50%{background-color:blue;
    left:200px;
    border-radius:50%;}
    100%{background-color:green;
    left:100px;}
}
/* b2製作簡易動畫 */
.b2{animation:run1 3s infinite alternate;
    position: relative;}
@keyframes run1{
    0%{background-color:red;border-radius:90% 0% 0% 0%;}
    50%{background-color:blue;
    left:196px;
    border-radius:90% 0% 0% 0%;}
    100%{background-color:green;
    left:195px;border-radius:90% 0% 0% 0%;}
}
/* b1製作框內動畫 */
.b2{height: 50px;width: 50px;position: absolute;left:196px;top: 50.5px;}
.b1{height: 300px;width: 300px;border: red solid 3px;position: relative;}
.b1-1{border-radius:50%;height:50px;
      width:70px;background-color:#000;position: absolute;top:30px;left:50px;}
.b1-2{transform:skewY(30deg);height:30px;
      width:30px;background-color:#000;position: absolute;top:25.5px;left:54px;}
.b1-3{transform:skewY(-30deg);height:30px;
      width:30px;background-color:#000;position: absolute;top:25px;left:85px;}
.eye-1{border-radius:50%;height:18px;width:18px;background-color:white;position: absolute;left:62px;top:40px;}
.eye-2{border-radius:50%;height:14px;width:14px;background-color:black;position: absolute;left:64px;top:42px;}
.eye-3{border-radius:50%;height:7px;width:7px;background-color:white;position: absolute;left:64px;top:42px;}
.eye1-1{border-radius:50%;height:18px;width:18px;background-color:white;position: absolute;left:62px;top:40px;}
.eye1-2{border-radius:50%;height:14px;width:14px;background-color:black;position: absolute;left:64px;top:42px;}
.eye1-3{border-radius:50%;height:7px;width:7px;background-color:white;position: absolute;left:64px;top:42px;}
.eye1{position: absolute;left:27px;}
.nose{border-radius:50%;height:7px;width:7px;background-color:red;position: absolute;left:81px;top:55px;}
.rectangle1{border-radius:0%;height:45px;width:90px;background-color:black;position: absolute;left:80px;top: 100px;}
.circle1{border-radius:50%;height:45px;width:45px;background-color:black;position: absolute;left:60px;top: 100px;}
.circle2{border-radius:50%;height:45px;width:45px;background-color:black;position: absolute;left:150px;top: 100px;}
.rectangle2{border-radius:0%;height:50px;width:45px;background-color:black;position: absolute;left:60px;top: 75px;}
.rectangle3{border-radius:0%;height:90px;width:15px;background-color:black;position: absolute;left:70px;top: 100px;}
.rectangle4{border-radius:0%;height:90px;width:15px;background-color:black;position: absolute;left:170px;top: 100px;}
.rectangle5{border-radius:0%;height:90px;width:15px;background-color:black;position: absolute;left:150px;top: 100px;}
.rectangle6{border-radius:0%;height:90px;width:15px;background-color:black;position: absolute;left:90px;top: 100px;}
.body{position: absolute;left:10px;top:-25px;}
.tail1{border-radius:90% 0% 0% 0%;height:60px;width:60px;background-color:black;position: absolute;left:70px;top: 90px;}
.tail2{border-radius:50%;height:10px;width:10px;background-color:black;position: absolute;left:125px;top: 90px;}
.tail{position: absolute;left:115px;top:-50px;}
.Background{width:100px;margin:5%auto;}
.BackGround{width:500px;float:left;margin:5 5px;position:absolute;left:60px;top:400px;box-shadow:0px 0px 50px rgb(0, 128, 75);}
.BackGround img{width:500px;box-shadow:0px 0px 20px blue;}
.Background1{width:100px;margin:5%auto;}
.BackGround1{width:500px;float:left;margin:5 5px;position:absolute;left:935px;top:350px;}
.BackGround1 img{width:100px;box-shadow:0px 0px 30px white;}
p{position: absolute;left:800px;top:577.5px;color:white;font-size:25px;}